[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
ExecStart=/usr/local/bin/etcd \
  --name=etcd1 \
  --data-dir=/var/lib/etcd/default.etcd \
  --cert-file=/etc/etcd/ssl/etcd.pem \
  --key-file=/etc/etcd/ssl/etcd-key.pem \
  --trusted-ca-file=/etc/etcd/ssl/ca.pem \
  --peer-cert-file=/etc/etcd/ssl/etcd.pem \
  --peer-key-file=/etc/etcd/ssl/etcd-key.pem \
  --peer-trusted-ca-file=/etc/etcd/ssl/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --listen-peer-urls=https://{{ node_host }}:2380 \
  --listen-client-urls=https://{{ node_host }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls=https://{{ node_host }}:2379 \
  --initial-advertise-peer-urls=https://{{ node_host }}:2380 \
  --initial-cluster={{ etcd01_name }}=https://{{ etcd01_host }}:2380,{{ etcd02_name }}=https://{{ etcd02_host }}:2380,{{ etcd03_name }}=https://{{ etcd03_host }}:2380 \
  --initial-cluster-token=etcd-cluster \
  --initial-cluster-state=new
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target